In [1]:
from tagger.core.mongo.models.order import Order
import pandas as pd
import simplejson
from datetime import datetime, timedelta

In [45]:
def get_data(d_from, d_to):
    orders = Order.objects(orderstatus__nin=["CREATED", "RECREATED", "PAYMENT_PENDING"], user__mobile__nin=["01028861089", "01097711882", "01077591771"], created__gte=d_from, created__lt=d_to)
#     print(d_from, d_to, [x for x in orders][0].id, [x for x in orders][-1].id)
    cancel_orders = [x for x in orders if "CANCEL" in x.orderstatus]
    timedeal_orders = orders.filter(ordertype="TIMEDEAL_ORDER")
    normal_orders = orders.filter(ordertype="NORMAL_ORDER")
#     df = pd.DataFrame.from_dict([x.to_mongo() for x in orders])
    count = len(orders)
    cancel_count = len(cancel_orders)
    cancel_rate = len(cancel_orders) / len(orders) if len(orders) != 0 else None
    avg_price = sum([x.totalprice for x in orders]) / len(orders) if len(orders) != 0 else None
    nominal_total = sum([x.totalprice for x in orders])
    non_cancel_total = sum([x.totalprice for x in orders if "CANCEL" not in x.orderstatus])

    timedeal_nominal_total = sum([x.totalprice for x in orders if "TIMEDEAL" in x.ordertype])
    timedeal_noncanc_total = sum([x.totalprice for x in orders if "CANCEL" not in x.orderstatus and "TIMEDEAL" in x.ordertype])
    normal_nominal_total = sum([x.totalprice for x in orders if "TIMEDEAL" not in x.ordertype])
    normal_noncanc_total = sum([x.totalprice for x in orders if "CANCEL" not in x.orderstatus and "TIMEDEAL" not in x.ordertype])
    
    timedeal_count = len(timedeal_orders)
    timedeal_cancel_count = len([x for x in timedeal_orders if "CANCEL" in x.orderstatus])
    timedeal_cancel_rate = len([x for x in timedeal_orders if "CANCEL" in x.orderstatus])  / len(timedeal_orders) if len(timedeal_orders) != 0 else None
    timedeal_avg_price = sum([x.totalprice for x in timedeal_orders]) / len(timedeal_orders) if len(timedeal_orders) != 0 else None

    normal_count = len(normal_orders)
    normal_cancel_count = len([x for x in normal_orders if "CANCEL" in x.orderstatus])
    normal_cancel_rate = len([x for x in normal_orders if "CANCEL" in x.orderstatus])  / len(normal_orders) if len(normal_orders) != 0 else None
    normal_avg_price = sum([x.totalprice for x in normal_orders]) / len(normal_orders) if len(normal_orders) != 0 else None
    normal_order_avg_price = sum([x.totalprice for x in normal_orders]) / sum([len(x.orders) for x in normal_orders]) if sum([len(x.orders) for x in normal_orders]) != 0 else None
    return {
        "count": count,
        "cancel_count": cancel_count,
        "cancel_rate": cancel_rate,
        "avg_price": avg_price,
        "nominal_total": nominal_total,        
        "non_cancel_total": non_cancel_total,        
        "timedeal_count": timedeal_count,
        "timedeal_cancel_count": timedeal_cancel_count,
        "timedeal_cancel_rate": timedeal_cancel_rate,
        "timedeal_avg_price": timedeal_avg_price,
        "normal_count": normal_count,
        "normal_cancel_count": normal_cancel_count,
        "normal_cancel_rate": normal_cancel_rate,
        "normal_avg_price": normal_avg_price,
        "normal_order_avg_price": normal_order_avg_price,
        "timedeal_nominal_total": timedeal_nominal_total,
        "timedeal_noncanc_total": timedeal_noncanc_total,
        "normal_nominal_total": normal_nominal_total,
        "normal_noncanc_total": normal_noncanc_total,
    }, {
        "count": count,
        "nominal_total": nominal_total,        
    }

In [46]:
def get_row(d_from, d_to):
    data, _ = get_data(d_from, d_to)
    return {"week": d_from, **data}

In [47]:
rows = [
    get_row(datetime(2021,8,31,15), datetime(2021,9,30,15)),
    get_row(datetime(2021,9,30,15), datetime(2021,10,31,15)),
]

# rows = [
#     get_row(datetime(2021,9,4,15), datetime(2021,9,11,15)),
#     get_row(datetime(2021,9,11,15), datetime(2021,9,18,15)),
#     get_row(datetime(2021,9,18,15), datetime(2021,9,25,15)),
#     get_row(datetime(2021,9,25,15), datetime(2021,10,2,15)),
#     get_row(datetime(2021,10,2,15), datetime(2021,10,9,15)),
#     get_row(datetime(2021,10,9,15), datetime(2021,10,16,15)),
#     get_row(datetime(2021,10,16,15), datetime(2021,10,23,15)),
#     get_row(datetime(2021,10,23,15), datetime(2021,10,30,15)),
# ]
# rows  =[]
# start = datetime(2021, 9, 3, 15)
# while start < datetime(2021, 11, 1):
#     rows.append(
#         get_row(start, start + timedelta(days=1))
#     )
#     start = start + timedelta(days=1)

In [48]:
pd.DataFrame(rows).to_clipboard()

In [13]:
pd.DataFrame(rows)["cancel_count"].to_clipboard()

datetime.datetime(2021, 10, 31, 15, 0)

In [90]:
all_orders = Order.objects(orderstatus__nin=["CREATED", "RECREATED", "PAYMENT_PENDING"], user__mobile__nin=["01028861089", "01097711882", "01077591771"])

In [91]:
timedeal_orders = all_orders.filter(ordertype="TIMEDEAL_ORDER")

In [93]:
td_items = [x.orders[0].alloffproduct for x in timedeal_orders]

In [95]:
brands = {}
for item in td_items:
    if item.brand.keyname in brands:
        brands[item.brand.keyname] += [item]
    else:
        brands[item.brand.keyname] = [item]

In [107]:
brand_rows = []
for keyname in brands.keys():
    items = brands[keyname]
    count = len(items)
    price_sum = sum([x.discountedprice for x in items])
    brand_rows += [{"brand": keyname, "count": count, "total": price_sum, "avg_price": int(price_sum/count)}]

In [108]:
pd.DataFrame(brand_rows)

             brand  count    total  avg_price
0             MINE     14  2584330     184595
1   THURSDAYISLAND      1    59800      59800
2           SYSTEM     32  3730100     116565
3             SJSJ     15  1415820      94388
4             TIME      8  1106550     138318
5             DEWL      7   819870     117124
6        CCCOLLECT      6   622400     103733
7             LATT      2   139120      69560
8            OBZEE      8  1942590     242823
9             O2ND      1    72380      72380
10            ZOOC      2   166135      83067
11         MONCLER      6  8138000    1356333
12        BURBERRY      6  3417000     569500
13     BLUEDOGBABY      3   148880      49626
14         MINKMUI      1    19800      19800
15         MAXMARA      3  1015000     338333
16    PLEATSPLEASE      1   135000     135000

In [41]:
orders = Order.objects(orderstatus__nin=["CREATED", "RECREATED", "PAYMENT_PENDING"], user__mobile__nin=["01028861089", "01097711882", "01077591771"], created__lt=datetime(2021, 10, 31, 15))

In [42]:
usermap = {}
for order in orders:
    existing = usermap[order.user._id] if order.user._id in usermap else []
    usermap[order.user._id] = existing + [order]

In [43]:
usermap_data = []
for key, val in usermap.items():
    non_cancels = [x for x in val if "CANCEL" not in x.orderstatus]
    usermap_data.append({
        "nominal_count": len(val),
        "nominal_total": sum([x.totalprice for x in val]),
        "non_cancel_count": len(non_cancels),
        "non_cancel_total": sum([x.totalprice for x in non_cancels]),
        "userid": key,
    })

In [44]:
pd.DataFrame(usermap_data).to_clipboard()

In [54]:
for o in [x for x in Order.objects(orderstatus__nin=["CREATED", "RECREATED", "PAYMENT_PENDING"], user__mobile__nin=["01028861089", "01097711882", "01077591771"], created__gte=datetime(2021,10,16,15), created__lt=datetime(2021,10,23,15))]:
    print(o.totalprice, o.id)

97350 616afa8917fc2e5a1f9e8ba0
161100 616b1f5b17fc2e5a1f9e8bb7
292500 616b8a1717fc2e5a1f9e8bed
97350 616b8a2517fc2e5a1f9e8bee
129000 616bcbcc17fc2e5a1f9e8c69
129000 616bcc2c17fc2e5a1f9e8c6e
129000 616bcccd17fc2e5a1f9e8c79
97350 616bcdd517fc2e5a1f9e8c82
236000 616bcdf117fc2e5a1f9e8c84
236000 616bd12d17fc2e5a1f9e8c97
129000 616bf48117fc2e5a1f9e8d09
168000 616bf95e17fc2e5a1f9e8d16
166000 616bfc4c17fc2e5a1f9e8d24
236000 616c17b217fc2e5a1f9e8d8e
38700 616c1e9617fc2e5a1f9e8da5
106000 616c2d1317fc2e5a1f9e8dd5
159200 616c316c17fc2e5a1f9e8e05
305800 616c331a17fc2e5a1f9e8e0b
131670 616c3c7c17fc2e5a1f9e8e1f
637030 616c3cbf17fc2e5a1f9e8e22
131670 616c6ab017fc2e5a1f9e8e42
131670 616ca14b17fc2e5a1f9e8ead
97350 616d47d317fc2e5a1f9e8fbe
82000 616d495d17fc2e5a1f9e8fc3
230670 616d560317fc2e5a1f9e8ffc
166350 616d631317fc2e5a1f9e9020
166350 616d707617fc2e5a1f9e907d
113700 616d712e17fc2e5a1f9e9085
113700 616d716017fc2e5a1f9e908a
1430000 616d717c17fc2e5a1f9e908d
298350 616d801417fc2e5a1f9e90f1
156000 616da2cf17fc2e5a1f9e9151
230670 616dca4717fc2e5a1f9e9179
82000 616e046b17fc2e5a1f9e91a4
166350 616e094917fc2e5a1f9e91bd
75900 616e167717fc2e5a1f9e91df
166350 616e1b5917fc2e5a1f9e91e6
549000 616e28fa17fc2e5a1f9e91fc
113700 616e634d17fc2e5a1f9e923e
62700 616e64b517fc2e5a1f9e9241
162000 616e74d317fc2e5a1f9e926c
162000 616e76f817fc2e5a1f9e9273
136000 616e869717fc2e5a1f9e928d
116600 616e8cd317fc2e5a1f9e9293
335400 616e9d0e17fc2e5a1f9e92ad
51600 616eb1ce17fc2e5a1f9e92d2
136000 616f6dee17fc2e5a1f9e93bd
28000 616fa28317fc2e5a1f9e93ea
28000 616fa32917fc2e5a1f9e93ed
610500 616fa3e817fc2e5a1f9e93f3
69000 616fa43817fc2e5a1f9e93f9
48000 616fab9517fc2e5a1f9e940f
48000 616fb30817fc2e5a1f9e941a
48000 616fb30f17fc2e5a1f9e941c
48000 616fb38817fc2e5a1f9e9427
358000 616fb3cb17fc2e5a1f9e9429
48000 616fb4be17fc2e5a1f9e9433
48000 616fb4d717fc2e5a1f9e9436
48000 616fb51617fc2e5a1f9e943d
48000 616fb57b17fc2e5a1f9e9444
163350 616fb5c217fc2e5a1f9e9448
43000 616fb66d17fc2e5a1f9e944e
48000 616fb77617fc2e5a1f9e9459
209700 616fb7f417fc2e5a1f9e945d
48000 616fb9e917fc2e5a1f9e946b
43000 616fba3117fc2e5a1f9e946f
48000 616fba6017fc2e5a1f9e9474
48000 616fbc0b17fc2e5a1f9e947e
38000 616fbe7817fc2e5a1f9e9488
48000 616fc32117fc2e5a1f9e94a0
48000 616fca3117fc2e5a1f9e94c0
236000 616fce6c17fc2e5a1f9e94c8
298350 616fd68a17fc2e5a1f9e94df
82800 616fe55d17fc2e5a1f9e94ff
1100000 616ff90917fc2e5a1f9e9545
166350 61701b7017fc2e5a1f9e9591
48000 61701beb17fc2e5a1f9e9597
48000 617033c717fc2e5a1f9e9603
134700 61708e1717fc2e5a1f9e9670
38000 6170abb917fc2e5a1f9e96ce
77000 6170d31417fc2e5a1f9e96f9
358000 6170e2a617fc2e5a1f9e9705
38000 6170e5ab17fc2e5a1f9e970b
38000 617101ab17fc2e5a1f9e972b
199000 6171074b17fc2e5a1f9e9739
38000 61710c4917fc2e5a1f9e9740
256000 6171131b17fc2e5a1f9e9754
48000 617113b117fc2e5a1f9e975a
565000 617114a117fc2e5a1f9e9768
363000 6171150e17fc2e5a1f9e976e
77000 6171194c17fc2e5a1f9e977d
101630 61711b3417fc2e5a1f9e978d
1100000 6171217a17fc2e5a1f9e979e
48000 6171258617fc2e5a1f9e97b2
199000 617128b017fc2e5a1f9e97c1
48000 6171350b17fc2e5a1f9e97da
98500 6171582417fc2e5a1f9e982e
256000 61715b9817fc2e5a1f9e9842
129000 6171604017fc2e5a1f9e984f
179000 617176c017fc2e5a1f9e98c4
66400 617176c317fc2e5a1f9e98c5
239000 61718bfc17fc2e5a1f9e990d
252150 6171f2c617fc2e5a1f9e997b
198800 617203ba17fc2e5a1f9e9993
230670 617205d317fc2e5a1f9e9999
97350 6172094b17fc2e5a1f9e99a4
1488000 61720d9217fc2e5a1f9e99b2
199350 617223f217fc2e5a1f9e99cf
199350 617236a117fc2e5a1f9e9a18
192750 61724e6717fc2e5a1f9e9a3c
393000 61724fb117fc2e5a1f9e9a49
192750 61724ff017fc2e5a1f9e9a4d
166350 6172505a17fc2e5a1f9e9a55
106950 617250f017fc2e5a1f9e9a5a
465000 6172542a17fc2e5a1f9e9a71
1490000 6172733d17fc2e5a1f9e9aa1
629000 617277df17fc2e5a1f9e9afc
146550 617278f217fc2e5a1f9e9b7f
249000 61728a0817fc2e5a1f9e9baf
565000 61729fd417fc2e5a1f9e9be9
196900 6172b39017fc2e5a1f9e9c30
286800 6172c4f817fc2e5a1f9e9c5d
130350 6172f50a17fc2e5a1f9e9cae
130350 617328fa17fc2e5a1f9e9cb5
279000 6173739b17fc2e5a1f9e9d29
199000 6173c98d17fc2e5a1f9e9e0d
62370 6173cbb417fc2e5a1f9e9e15
396800 6173e1ac17fc2e5a1f9e9e50
110250 6173e38517fc2e5a1f9e9e60
252150 6173e41817fc2e5a1f9e9e67
118000 6173e48817fc2e5a1f9e9e6c
199000 6173e4bc17fc2e5a1f9e9e72
118000 6173e73f17fc2e5a1f9e9e88
417150 6173eee517fc2e5a1f9e9ea2
230670 6173f22f17fc2e5a1f9e9eaa
479400 61740a4417fc2e5a1f9e9f01
185000 61740dea17fc2e5a1f9e9f1c

In [25]:
usermap

{}